*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  
}

body
{
  background-color: #23272A;
}

nav
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #5865F2;
  padding: 4px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo
{
  width: 160px;
  height: 45px;
}

.nav-left
{
  display: flex;
  align-items: center;
}

.nav-right
{
  display: flex;
  align-items: center;  
}

.nav-right ul
{
  list-style-type: none;
  display: inline-block;
}

.nav-right ul img
{
  width: 22px;
  margin: 0 5px;
}