@import url('https://fonts.googleapis.com/css2?family=Tourney:ital@1&display=swap'); 


*{
  margin: 0;
  padding: 0;
  font-family: serif;
}

body 
{
  background-color: #23272A;
  justify-content: space-between;
}

.and
{
  display: none;
  font-size:auto;
  color:white;
}

nav 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #5865F2;
  padding: 4px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 10px #000;
}

.nav-left 
{
  display: flex;
  align-items: center;
}

.logo 
{
  font-size: 40px;
  font-family: 'Tourney', cursive;
}

.nav-right 
{
  display: flex;
  align-items: center;
}

.nav-right ul 
{
  list-style-type: none;
  display: inline-block;
}

.menu-icon 
{
  width: 23px;
  display:none;
}

.nav-right ul li
{
  display: inline;
}

.nav-right ul img 
{
  width: 23px;
  margin: 0 7px;
}


.post
{
  margin:12px;
}

.post button img
{
  width:30px;
  margin:-2px -2px -5px -2px;
}

.post button
{
  border-radius:7px;  
  background-color:#23272A;
  border-style:solid;
  border-color:white;
  outline:none;
  
}



.modal
{
  background-color:white;
  position:relative;
  display:none;
  width:700px;
  height:480px;
  left:0px;
  top:-15px;
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:5px;
}

.modal .header
{
  justify-content:space-between;
  display:flex;  
}

.header h2
{
  padding-top:10px;
  padding-left:10px;
}


.modal form
{
  display:block;
  padding-top:5px;
  padding-left:5px;
}

.modal form label
{
  position:relative;
  display:block;
  font-size:32px;
  padding-top:16px;
  padding-bottom:16px;
}

.modal form input
{
  background-color:#23272A;
  height:25px;
  width:350px;
  padding-left:5px;
  padding-right:5px;
  border:none;
  color:white;
  outline:none;
  border-radius:4px;
  font-size:20px;
  padding-top:5px;
  padding-bottom:5px;
}

.modal form textarea
{
  postion:fixed;
  background-color:#23272A;
  height:100px;
  min-height:100px;
  max-height:100px;
  width:80%;
  min-width:80%;
  max-width:80%;
  padding-left:5px;
  padding-right:5px;
  border:none;
  color:white;
  outline:none;
  border-radius:4px;
  font-size:18px;
  padding-top:5px;
  padding-bottom:5px;
}



.post_btn
{
  position:relative;
  display:block;
  width:90px;
  height:42px;
  color:white;
  transition:ease-in-out .3s;
  border:none;
  outline:none;
}

.post_btn:hover
{
  border-style:solid;
  border-width:1px;
  border-color:black;
  color:black;
  background-color:white;

}

.close
{
  position:sticky;
  display:flex; 
}

.close button
{
  position:sticky;
  display:inline-block;   
  color:black;
  background-color:white;
  margin-top:20px;
  left:600px;
  top:14px;
  width:80px;
  height:45px;
  outline:none;
  border-style:solid;
  border-width:1px;
  border-color:black;
  transition:ease-in-out .1s;
}

.close button:active
{
  background-color:black;
  color:white;
}




























/*///////////////////////////////////////////////////////////*/

nav {
    display: flex;
    align-items: center;
    background: #5865F2;
    padding: 4px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 10px #000;
}

.logo {
    font-size: 34px;
    margin-left: -10px;
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 500px;
}

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap'); .bar {
    font-family: 'Nothing You Could Do', cursive;
    height: 31.5px;
    width: 350px;
    background-color: #23272A;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e8e3e3;
    margin-left: 50px;
    padding-left: 12px;
    padding-right: 55px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.search-bar .btn {
    font-family: 'Nothing You Could Do', cursive;
    position: relative;
    height: 26px;
    border-radius: 50%;
    width: 35px;
    right: 40px;
    background-color: #5865F2;
    color: #fff;
    outline: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: none;
    transition: ease-out .1s;
}

.search-bar .btn img {
    width: 20px;
    padding-top: 3px;
    right: 1px;
}

.search-bar .btn:active 
{
  background-color: #03fc84;
  color: #fff;
  outline: none;
  border: none;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) 
{  
  .and
  {
    padding-top: 300px; 
    display: flex;
    text-align: center;
    
  }

  nav
  {
    display: none;
  }

  .form
  {
    display: none;
  }


}
